{% extends 'base.html.twig' %}

{% form_theme form _self %}
{% use "form_div_layout.html.twig" %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label col-md-3')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{% block form_widget_simple -%}
    <div class="col-md-9">
        {% if type is not defined or type not in ['file', 'hidden'] %}
            {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
        {% endif %}
        {{- parent() -}}
    </div>
{%- endblock form_widget_simple %}

{% block body %}
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" id="signupbox" style="margin-top:50px">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Sign Up
                </div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px">
                    <a href="{{ path('Login') }}">Sign In</a>
                </div>
            </div>
            <ul>
                {% for flashMessage in app.session.flashbag.get('registrationErrors') %}
                    <li>{{ flashMessage }}</li>
                {% endfor %}
            </ul>
            <div class="panel-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'signupform', 'role': 'form'}}) }}
                    {{ form_row(form.Username }}
                    {{ form_row(form.Email) }}
                    {{ form_row(form.Password) }}
                    <div class="form-group">
                        <label class="control-label col-md-3 required" for="repeatPassword">Repeat Password</label>
                        <div class="col-md-9">
                            <input type="password" id="repeatPassword" name="repeatPassword" required="required" class="form-control">
                        </div>
                    </div>
                    <input type="hidden" name="site_token" value="{{ local_site_token  }}">
                    <div class="form-group" style="margin-top:10px">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <input id="btn-signup" type="submit" value="Sign Up" class="btn btn-info" id="btn-signup">
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
