{% extends 'page.html.twig' %}

{% form_theme addUserForm 'bootstrap_3_layout.html.twig' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4 pull-left" style="margin-bottom: 20px; padding: 0">
                <button id="add-user-buttom" type="button" class="btn btn-default" onclick="showFormToggle();">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                </button>
                &nbsp;&nbsp;&nbsp;
                or
                &nbsp;&nbsp;&nbsp;
                <a href="{{ path('FakerUsers', {'site_token': routeFilters['site_token']}) }}" onclick="return confirm('Are you sure?')">generate random users</a>
            </div>
            <div class="col-xs-4 pull-right" style="margin-bottom: 20px; padding: 0">
                <div style="float:right">
                    {% include 'default/widgets/table-search.html.twig' with {
                        'currentFilters': routeFilters,
                        'currentPath': "ManagementGetUsers",
                        'columns': ['Id','Username','Email']
                    } only %}
                </div>
            </div>
        </div>

        <div id="add-user-form" class="row" style="margin-bottom: 20px; display: none">
            {{ form_start(addUserForm) }}
                {{ form_row(addUserForm.Username) }}
                {{ form_row(addUserForm.Email) }}
                {{ form_row(addUserForm.Password) }}
                <button type="submit" class="btn btn-default">Submit</button>
            {{ form_end(addUserForm) }}
        </div>

        <div class="row">
            {% include 'default/tables/users.html.twig' with {
                'users': users, 
                'currentFilters': routeFilters,
                'currentPath': "ManagementGetUsers",
            } only %}
            {% include 'default/widgets/pagination.html.twig' with {
                'currentFilters': routeFilters,
                'paginationPath': "ManagementGetUsers",
                'lastPage': lastPage,
                'showAlwaysFirstAndLast': false
            } only %}
        </div>
        {% include 'default/widgets/updateable-tables.js.twig' %}
        
        <script type="text/javascript">
            $("#add-user-buttom").click(function(){
                $("#add-user-form").slideToggle("slow", function(){
                    // Animation complete.
                });
            });
        </script>

    </div>
{% endblock %}
