{{ form_start(form) }}
    {{ form_row(form.Username) }}
    {{ form_row(form.Email) }}
    {{ form_row(form.Password) }}

    <!-- <div class="form-group">
      <label for="email-input">Email address</label>
      <input type="email" class="form-control" id="email-input" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password-input">Password</label>
      <input type="password" class="form-control" id="password-input" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div> -->

    <button type="submit" class="btn btn-default">Submit</button>
{{ form_end(form) }}