<table id="sql-table" class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        <tr>
            <th scope="row">{{ user.Id }}</th>
            <td data-column="Username" data-id="{{ user.Id }}">{{ user.Username }}</td>
            <td data-column="Email" data-id="{{ user.Id }}">{{ user.Email }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>