{{ dump(filters) }}
<table id="sql-table" class="table table-hover table-bordered">
  <thead>
    <tr>
        <th>
            {% if filters.sortBy == 'Id' and (filters.order == 'ascending' or filters.order == 'ASC') %}
                <a href="{{ path(currentPath, filters|merge({'sortBy': 'Id', 'order': 'descending'})) }}">
            {% else %}
                <a href="{{ path(currentPath, filters|merge({'sortBy': 'Id', 'order': 'ascending'})) }}">
            {% endif %}
            {% if filters.sortBy == 'Id' %}
                <span class="glyphicon {% if filters.order == 'ascending' or filters.order == 'ASC' %}glyphicon-chevron-up{% else %}glyphicon-chevron-down{% endif %}" aria-hidden="true"></span>
            {% endif %}
            Id
                </a>
        </th>
        <th>
          {% if filters.sortBy == 'Username' and (filters.order == 'ascending' or filters.order == 'ASC') %}
              <a href="{{ path(currentPath, filters|merge({'sortBy': 'Username', 'order': 'descending'})) }}">
          {% else %}
              <a href="{{ path(currentPath, filters|merge({'sortBy': 'Username', 'order': 'ascending'})) }}">
          {% endif %}
          {% if filters.sortBy == 'Username' %}
              <span class="glyphicon {% if filters.order == 'ascending' or filters.order == 'ASC' %}glyphicon-chevron-up{% else %}glyphicon-chevron-down{% endif %}" aria-hidden="true"></span>
          {% endif %}
          Username
              </a>
        </th>
        <th>
          {% if filters.sortBy == 'Email' and (filters.order == 'ascending' or filters.order == 'ASC') %}
              <a href="{{ path(currentPath, filters|merge({'sortBy': 'Email', 'order': 'descending'})) }}">
          {% else %}
              <a href="{{ path(currentPath, filters|merge({'sortBy': 'Email', 'order': 'ascending'})) }}">
          {% endif %}
          {% if filters.sortBy == 'Email' %}
              <span class="glyphicon {% if filters.order == 'ascending' or filters.order == 'ASC' %}glyphicon-chevron-up{% else %}glyphicon-chevron-down{% endif %}" aria-hidden="true"></span>
          {% endif %}
          Email
              </a>
        </th>
        <th>
        </th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        <tr>
            <th scope="row">{{ user.Id }}</th>
            <td data-column="Username" data-id="{{ user.Id }}">{{ user.Username }}</td>
            <td data-column="Email" data-id="{{ user.Id }}">{{ user.Email }}</td>
            <td style="width: 31px">
                <a class="delete-column-text" href="{{ path("ManagementDeleteUser", {'UserId': user.Id}) }}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>