{{ dump(currentFilters) }}
<table id="sql-table" class="table table-hover table-bordered">
  <thead>
    <tr>
        <th>
            {% if currentFilters.sortBy == 'Id' and (currentFilters.order == 'ascending' or currentFilters.order == 'ASC') %}
                <a href="{{ path(currentPath, currentFilters|merge({'sortBy': 'Id', 'order': 'descending'})) }}">
            {% else %}
                <a href="{{ path(currentPath, currentFilters|merge({'sortBy': 'Id', 'order': 'ascending'})) }}">
            {% endif %}
            {% if currentFilters.sortBy == 'Id' %}
                <span class="glyphicon {% if currentFilters.order == 'ascending' or currentFilters.order == 'ASC' %}glyphicon-chevron-up{% else %}glyphicon-chevron-down{% endif %}" aria-hidden="true"></span>
            {% endif %}
            Id
                </a>
        </th>
        <th>
          {% if currentFilters.sortBy == 'Username' and (currentFilters.order == 'ascending' or currentFilters.order == 'ASC') %}
              <a href="{{ path(currentPath, currentFilters|merge({'sortBy': 'Username', 'order': 'descending'})) }}">
          {% else %}
              <a href="{{ path(currentPath, currentFilters|merge({'sortBy': 'Username', 'order': 'ascending'})) }}">
          {% endif %}
          {% if currentFilters.sortBy == 'Username' %}
              <span class="glyphicon {% if currentFilters.order == 'ascending' or currentFilters.order == 'ASC' %}glyphicon-chevron-up{% else %}glyphicon-chevron-down{% endif %}" aria-hidden="true"></span>
          {% endif %}
          Username
              </a>
        </th>
        <th>
          {% if currentFilters.sortBy == 'Email' and (currentFilters.order == 'ascending' or currentFilters.order == 'ASC') %}
              <a href="{{ path(currentPath, currentFilters|merge({'sortBy': 'Email', 'order': 'descending'})) }}">
          {% else %}
              <a href="{{ path(currentPath, currentFilters|merge({'sortBy': 'Email', 'order': 'ascending'})) }}">
          {% endif %}
          {% if currentFilters.sortBy == 'Email' %}
              <span class="glyphicon {% if currentFilters.order == 'ascending' or currentFilters.order == 'ASC' %}glyphicon-chevron-up{% else %}glyphicon-chevron-down{% endif %}" aria-hidden="true"></span>
          {% endif %}
          Email
              </a>
        </th>
        <th>
        </th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        <tr{% if app.session.get('User').Id == user.Id %} style="background:#dddddd"{% endif %}>
            <th scope="row">{{ user.Id }}</th>
            <td data-column="Username" data-id="{{ user.Id }}">{{ user.Username }}</td>
            <td data-column="Email" data-id="{{ user.Id }}">{{ user.Email }}</td>
            <td style="width: 31px">
                {% if app.session.get('User').Id != user.Id %}
                    <a class="delete-column-text" 
                       href="{{ path("ManagementDeleteUser", {'UserId': user.Id, 'site_token': currentFilters.site_token}) }}"
                       onclick="return confirm('Are you sure?')">
                       <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>